* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #FFF;
    width: 100%;
}

#toggle {
    top: 15px;
    right: 45px;
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color:#052659;
    position: absolute;
    
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#toggle:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #FFF;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

.dark-theme {
    background-color: #021024;
    color: #052659;
}

.dark-theme #toggle {
    background-color:#FFF;
    color: #FFF;
}

.dark-theme #toggle:after {
    background-color: transparent;
    box-shadow: 10px 10px #021024;
    top: -4px;
    left: 30px;
}

.dark-theme .main-content {
    background-color: #021024;
    color: #b2b2b2;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #000;
}

.user-detail {
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar.active .user-detail {
    display:inline;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #052659;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #FFF;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #FFF;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    opacity: 1;
    margin-left: 1rem 0;
}

.user p {
    color: #FFF;
    opacity: 1;
    margin-left: 1rem;
}

.user-details {
    position: relative;
}

.bold {
    font-weight: 700;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
}

.sidebar ul li div {
    color: #FFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li div:hover {
    background-color: #FFF;
    color: #052659;
}

.sidebar ul li div i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    top: 50%;
    transform: translate(80px, -50%);
    box-shadow: 0 0.5rem 0.8rem rgb(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 2rem;
    white-space: nowrap;
    z-index: 20;
    opacity: 0;
    text-align: left;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    color: #000;
}

.dark-theme .sidebar ul li:hover .tooltip {
    opacity: 1;
    color: #FFF;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    min-height: 100%;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 50px);
    color: #4c4c4c;
}

.container {
    padding: 25px;    
}

.title-section {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.title-section:first-of-type {
    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
    animation: showup 7s infinite;
}

.title-section:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

.title-section:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 355px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 355px;
    }
}

.chld-container {
    /* border: 1px solid lightgray; */
    border-radius: 15px;
    width: calc(100% - 25%);
    font-weight: 300;
    padding: 25px;
    margin: 0 auto;
}

.chld-container h2 {
    padding-bottom: 25px;
}

.chld-container h3 {
    padding-bottom: 5px;
}

.chld-container div {
    padding-bottom: 15px;
}

.chld-container p {
    padding-bottom: 5px;
}

table,
th,
td {
    border: 1px solid #000;
    width: calc(100% - 25px);
    text-align: center;
}

ul {
    list-style-type: none;
}

.drivind-license {
    padding-bottom: 100px;
}
/* portofolio */
.portofolio-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    justify-content: center;
    /* overflow: auto;
    max-height: 500px; */
}

.card {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #000; */
}

.project-text {
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
    padding-top: 25px;
    margin: 0 auto;
    
}
.card:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.portofolio-container:hover > :not(:hover) {
    transition: 0.5s;
    opacity: 0.4;
}

.img-project {
    width: 200px;
    height: 150px;
    border-radius: 10px;
} 

.card a {
    text-decoration: none;
}

.card a:visited {
    text-decoration: none;
    color: inherit;
}

.card a:link {
    text-decoration: none;
    color: inherit;
}

.card a:active {
    text-decoration: none;
    color: inherit;
}

.card a:hover {
    text-decoration: none;
    color: inherit;
}
/* header */
.header {
    position: static;
    top: 0;
    width: 100%;
    margin-top: -100px;

}
/* footer */

footer {
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: #052659;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
}

footer .social_icon li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #FFF;

    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}


footer p {
    color: #FFF;
    text-align: center;

    font-size: 1.1em;
}

